
<div class="item-list">

<% if @items.length == 0 %>
<p>There are no items currently...</p>
<% end %>

<% @items.each do |item| %>


  <div class="item">
    <p class="title">
		
		<% if item.status_id > 3 then checked=true   else  checked=false end %>
		
		<%= check_box_tag item.id, 1, checked=checked, :class=>"item-complete" %>
		
	
		
		<span class="action-list">
			<span class="action"><button id="<%= item.id  %>" class="notes">Notes (<%= item.notes.length %>)</button></span>
			<span class="action"><button id="<%= item.id  %>" class="edit">Edit</button></span>
	    	<span class="action"><button id="<%= item.id  %>" class="move-down">Down</button></span>
	    	<span class="action"><button id="<%= item.id  %>" class="move-up">Up</button></span>
		</span>

		<span class="title-text"><%= item.program.name %>: <%= item.title %></span>

	</p>
	
	<div class="details">	
	
    <% if item.description.length %>
		<p class="description"><%= item.description %>
		
		<span class="links">		
		<br/>		
		<% unless item.bcid.blank? %>

		<%= link_to "[bc]", item.bcid, :target=>'blank' %>
		<% end %>

		<% unless item.link.blank? %>
		<%= link_to "[url]", item.link, :target=>'blank' %>
		<% end %>
		</span>
		</p>
		
	<% end %>
	

  

<p class="status">
	Status: <%= item.status.name %> 
	for  <%= if item.week.to_i ==  session[:week].to_i then  "this week" elsif  item.week.to_i ==  session[:nextweek].to_i then "next week" else "previous week" end   %>

</p>
	</div>
	

 
 </div>



<% end %>

</div>

