<h1>Listing items</h1>

<p>Current week is <b><%= session[:week] %></b>


<table cellspacing="0">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th nowrap="true">Program</th>
    <th>week/year</th>
    <th nowrap="true"></th>
  </tr>

<% @items.each do |item| %>
  <tr class="status-<%= item.status.name %>">
    <td width="25%"><%= item.title %></td>
    <td><%= item.description %></td>

    <td>	<% if item.status !nil %><%= item.status.name %><% end %></td>

    <td nowrap="true"><% if item.status !nil %><%= item.program.name %><% end %></td>
		
	<td> <%= item.week %> / <%= item.year %> </td>	

    <td nowrap="true">
		<%= link_to 'Show', item %> | 
    	<%= link_to 'Edit', edit_item_path(item) %> | 
    	<%= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
