<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>Due on <%= @item.due_date%>

<p>
  <b>Effort level:</b>
  <%= @item.effort_level %>
</p>

<p>
  <b>Website URL:</b>
  <% unless @item.link.blank? %>
  <%= link_to  @item.link ,@item.link, :target=>"blank" %> 
  <% else %>
  -- -- 
  <% end %>
</p>


<p>
  <b>Basecamp:</b>
  <%= link_to @item.bcid,@item.bcid,  :target=>"blank" %>
</p>

<p>
  <b>Status:</b>
  <%=  @item.status.level %>: <%=  @item.status.name %>
</p>

<p>
  <b>Program:</b>
  <%= @item.program.name %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Return to Checklist', :controller => 'home' %>